<% if current_user %><% set_category_user('blog') %><% end %>
<% get_topic_view(params[:param], opts: { include_suggested: false, include_related: false, post_number: 1 }, instance_var: "topic_view", set_page_title: true) %>
<% set_central_login('https://auth.alphien.com') %>

<% content_for :head do %>
  
  <title><%= @page_title %></title>
  <meta name="title" content="<%= @page_title %>" />
  <meta name="description" content="<%= @topic_view.posts.first.excerpt_for_topic %>" />
  <meta property="og:title" content="<%= @page_title %>" />
  <meta property="og:description" content="<%= @topic_view.posts.first.excerpt_for_topic %>" />
  <meta property="og:image" content="<%= @topic_view.topic.image_url %>" />
  <meta property="og:url" content="https://forum.alphien.com/blog/<%= params[:sub_path] %>/<%= @topic_view.topic.slug %>" />
  <meta property="og:type" content="website" />
  <meta property="twitter:title" content="<%= @page_title %>" />
  <meta property="twitter:description" content="<%= @topic_view.posts.first.excerpt_for_topic %>" />
  <meta property="twitter:image" content="<%= @topic_view.topic.image_url %>" />
  <meta property="twitter:url" content="https://forum.alphien.com/blog/<%= params[:sub_path] %>/<%= @topic_view.topic.slug %>" />
  <meta property="twitter:card" content="summary_large_image" />
  <%= preload_script "addthis-config" %>

<% end %>

<%= render partial: "alphien_header", locals: {
  title: "Alphien Blog",
  root: "/blog",
  menus: [
    {
      label: "News",
      href: "/blog/news"
    },
    {
      label: "Podcast",
      href: "/blog/podcast"
    },
    {
      label: "PDF",
      href: "/blog/pdf"
    },
    {
      label: "Alphien",
      href: "/blog/alphien"
    }
  ]
} %>

<% if @topic_view.present? %>
  <div class="title-container" <% unless mobile_view? %> style="background-image: url(<%= @topic_view.topic.image_url.present? ? @topic_view.topic.image_url : "/plugins/discourse-landing-pages/images/blog-placeholder.jpg" %>) <% end %>">
    <div class="contents canvas">
      <h1 title="<%= @topic_view.title %>" class="title"><%= @topic_view.title %></h1>
      <%= render partial: 'topic_byline', locals: {
        topic: @topic_view.topic,
        include_link: true,
        user_profile_opts: {
          include_avatar: true,
          avatar_size: 50
        }
      } %>
      <%- if @topic_view.topic.tags.length > 0 %>
        <div class="topic-tags">
          <i class="tag-icon"><%= SvgSprite.raw_svg('tags') %></i>
          <% @topic_view.topic.tags.each do |tag| %>
            <a class="tag-item" href="/blog?tag=<%= tag.name%>" target="_blank" rel="noopener noreferrer">
              #<%= tag.name %><%- if tag != @topic_view.topic.tags.last %>, <%- end %>
            </a>
          <% end %>
        </div>
      <%- end %>
    </div>
  </div>
<% end %>

<a href="/blog" class="btn btn-fixed btn-blog" title="Posts">
  <div class="fixed-icon"><%= SvgSprite.raw_svg('stream') %></div>
  <% unless mobile_view? %>
    <div class="fixed-label">Posts</div>
  <% end %>
</a>

<% if @topic_view.present? %>
  <article class="post">
    <div class="container">
      <section class="post-content canvas">
        <%= ::LandingPages::Post.html(@topic_view.posts.first).html_safe %>
        <div class="post-category-link">Read more <%= category_link(@topic_view.topic.category, true) %></div>
      </section>

      <div class="comment-container">
        <div class="comment-button">
          <% if current_user %>
            <a class="btn btn-primary" href="<%= @topic_view.topic.url %>" target="_blank" rel="noopener noreferrer"><%= @topic_view.posts.length > 1 ? "Join the discussion" : "Start a discussion" %></a>
          <% else %>
            <% if @central_login.present? %>
                <a class="btn btn-primary" href="<%= path @central_login + "/?s=" +  CGI.escape(@topic_view.topic.url) %>" target="_blank" rel="noopener noreferrer"><%= @topic_view.posts.length > 1 ? "Join the discussion" : "Start a discussion" %></a>
            <% end %>
          <% end %>
          <% if !is_user_own_post && @is_user_like %>
              <div class="btn btn-primary btn-like liked" title="you already liked this post" post-id="<%= @topic_view.posts.first.id %>">
                <i><%= SvgSprite.raw_svg('far-thumbs-up') %></i>
                <span>Liked</span>
              </div>
          <% end %>
          <% if !is_user_own_post && !@is_user_like %>
              <div class="btn btn-primary btn-like <% if current_user %>user<% else %>guest<% end %>" title="like this post" post-id="<%= @topic_view.posts.first.id %>">
                <i><%= SvgSprite.raw_svg('far-thumbs-up') %></i>
                <span>Like</span>
              </div>
          <% end %>
        </div>
        <% if @topic_view.posts.length > 1 %>
          <div class="comment-heading"><h4>Comments</h4></div>
          <div class="comments">
            <% @topic_view.posts[1..-1].each do |post| %>
              <div class="comment canvas">
                <div class="comment-header">
                  <div class="user-container">
                    <div class="comment-avatar">
                      <img width="25" height="25" class="img-avatar" src="<%= post.user.small_avatar_url %>">
                    </div>
                    <h3 class="comment-user" title="<%= post.user.username %>"><%= post.user.username %></h3>
                  </div>
                  <div class="date">
                    <%= short_date(post.created_at) %>
                  </div>
                </div>
                <div class="comment-content">
                  <p><%= post.cooked.html_safe %></p>
                </div>
              </div>
            <% end %>
         </div>
        <% end %>
      </div>
    </div>
  </article>
<% end %>

<div class="btn btn-fixed btn-subscribe <% if current_user %>user<% else %>guest<% end %>" title="Subscribe">
  <% if current_user %>
    <img class="fixed-avatar" src="<%= current_user.avatar_template_url.gsub("{size}", "65") %>">
  <% else %>
    <div class="fixed-icon"><%= SvgSprite.raw_svg('user-circle') %></div>
  <% end %>
  <% unless mobile_view? %>
    <div class="fixed-label">Subscribe</div>
  <% end %>
</div>

<% if current_user && @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: (@category_user &&
        @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
      )
    })
  } %>
<% end %>

<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61c15bacb68366af"></script>
