<% if current_user %><% set_category_user('blog') %><% end %>
<%= get_category_by_slug(params[:param])%>
<% set_central_login('https://beta-auth.alphien.com') %>

<% content_for :head do %>
  <title><%= @page_category_name %> - Alphien</title>
  <meta name="title" content="<%= @page_category_name %> - Alphien">
  <meta name="description" content="Alphien <%= @page_category_name %>">
  <meta property="og:title" content="<%= @page_category_name %> - Alphien" />
  <meta property="og:description" content="Alphien <%= @page_category_name %>" />
  <meta property="og:image" content="https://www.alphien.com/img/Alphien.jpg" />
  <meta property="og:url" content="https://forum.alphien.com/blog" />
  <meta property="og:type" content="website" />
  <meta property="twitter:title" content="<%= @page_category_name %> - Alphien" />
  <meta property="twitter:description" content="Alphien <%= @page_category_name %>" />
  <meta property="twitter:image" content="https://www.alphien.com/img/Alphien.jpg" />
  <meta property="twitter:url" content="https://forum.alphien.com/blog/<%= params[:param] %>" />
  <meta property="twitter:card" content="summary_large_image" />

<% end %>

<%= render partial: "alphien_header", locals: {
  title: "Alphien Blog",
  root: "/blog",
  menus: [
    {
      label: "News",
      href: "/blog/news"
    },
    {
      label: "Podcast",
      href: "/blog/podcast"
    },
    {
      label: "PDF",
      href: "/blog/pdf"
    },
    {
      label: "Alphien",
      href: "/blog/alphien"
    }
  ]
} %>

<div class="wrap">
  <div class="blog-title">
    <h1>Alphien <%= @page_category_name %></h1>
    <p><%= @page_category_desc %></p>
  </div>
  <div class="blog-contents">
    <div class="topic-container">
      <%= get_page_heading() %>
      <%= topic_list(opts: {
          render_list: true
        },
        list_opts: {
          category: params[:param],
          no_definitions: true,
          per_page: 6,
          page: params[:page]
        },
        item_opts: {
          excerpt_length: 50,
          include_avatar: true,
          profile_details: !mobile_view?,
          avatar_size: 50,
          include_category: true
        }
      )%>
    </div>
    <div class="side-bar">
      <div class="sticky-content">
        <div class="blog-search-container">
          <form id="blog-search">
            <input type="text" placeholder="Search in <%= @page_category_name %>..." name="q" required>
            <button type="submit"><i class="search-icon"><%= SvgSprite.raw_svg('search') %></i></button>
          </form>
        </div>
        <div>
          <%= render partial: "category_tag_list", locals: {
              category: 'blog'
          }%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn btn-fixed btn-subscribe <% if current_user %>user<% else %>guest<% end %>" title="Subscribe">
  <% if current_user %>
    <img class="fixed-avatar" src="<%= current_user.avatar_template_url.gsub("{size}", "65") %>">
  <% else %>
    <div class="fixed-icon"><%= SvgSprite.raw_svg('user-circle') %></div>
  <% end %>
  <% unless mobile_view? %>
    <div class="fixed-label">Subscribe</div>
  <% end %>
</div>

<% if current_user && @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: (@category_user &&
        @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
      ),
      subscribe_label: "Subscribe to Alphien Blog's posts"
    })
  } %>
<% end %>
